.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.item:not(:last-child) {
  margin-bottom: 10px;
}

.contactName {
  font-weight: 700;
  margin-right: 6px;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #4c70e6;
  color: #ffffff;
  border: none;
  /* border: 1px solid #ffffff; */
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #3e5ab9;
  color: #ffffff;
}
