.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 748px;
  }
}
